bucket       = "stocklens-terraform-state-442809140287"
key          = "stocklens/v03/terraform.tfstate"
region       = "us-east-1"
use_lockfile = true
encrypt      = true
profile      = "YOUR_AWS_PROFILE"
