VITE_STOCKLENS_API_BASE_URL=https://api-id.execute-api.us-east-1.amazonaws.com
VITE_STOCKLENS_COGNITO_USER_POOL_ID=us-east-1_EXAMPLE
VITE_STOCKLENS_COGNITO_CLIENT_ID=exampleclientid
VITE_STOCKLENS_DEFAULT_TENANT_ID=aws-cday-argentina-2026-v4
